body{margin: 30px;}
.clear:after{content: "";display: block;clear: both;}
.wrap{padding: 20px;background: #eee;border: 1px solid #999;position: relative;}
.left{width: 180px;height: 100px;padding: 9px;border: 1px solid #979797;float: left;background: #fff;}
.left div{width: 60px;height: 60px;border: 1px solid #979797;background: #dfdfdf;float: left;text-align: center;padding: 10px;float: left;}
.left p{float: left;padding-left: 10px;}
.middle{background: #fff;border: 1px solid #979797;padding: 10px;margin: 0 140px 0 220px;margin-bottom: 20px;}
.right{width: 120px;border: 1px solid #979797;background: #fff;position: absolute;top: 20px;right: 20px;}
.right div{width: 78px;height: 78px;border: 1px solid #979797;background: #dfdfdf;margin: 10px;text-align: center;padding: 10px;}