.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #999;
}

.wrap div {
    width: 150px;
}

.d1,
.d2,
.d3 {
    border: 1px solid #f00;
}

.d1 {
    height: 120px;
}

.d2 {
    height: 100px;
}

.d3 {
    height: 40px;
}

.d4 {
    height: 200px;
    border: 1px solid #211e7c;
}

@media screen and (max-width: 640px) {
    .wrap {
        align-items: flex-start;
        flex-flow: wrap;
    }
    .d4 {
        order: -1;
        margin-bottom: 20px;
    }
}